<template>
    <div>
        <v-row>
            <v-col cols="12" sm="6" md="4" style="align-items: center">
                <h1 style="text-align: center"><b>{{product.name}}</b></h1>
                <h2 style="text-align: center">{{product.author}}</h2>
                <v-img width="100%"
                    :src="product.image"
                    :alt="product.name"
                ></v-img>
            </v-col>
            <v-col cols="12" sm="6" md="8">
                <p ref="price" class="header">Предложения</p>
                <p></p>
                <p style="margin-bottom: 8px;" v-for="offer in product.offers" :key="offer.id">
                    {{offer.advcampaign}} - {{offer.price}} руб. <a :href="api_offer + offer.id" rel="noreferrer noopener nofollow" target="_blank">
                    {{(!offer.downloadable) ? 'Купить' : 'Купить в электронном виде (' + ((offer.format === "mp3") ?
                    'аудио' : 'текст') + ')' }}</a>
                </p>
                <p></p>
                <v-divider></v-divider>
                <p></p>
                <div v-if="(product.year > 0 || product.isbn || product.page_extent > 0)">
                <p ref="info" class="header">Информация</p>
                <p v-if="(product.year > 0)">{{product.year}} год</p>
                <p v-if="(product.isbn)">ISBN: <b>{{product.isbn}}</b></p>
                <p v-if="(product.page_extent > 0)">{{product.page_extent}} стр.</p>
                <p></p>
                <v-divider></v-divider>
                <p></p>
                </div>
                <p ref="description" class="header">Описание</p>
                <p v-html="product.description"></p>
                <p></p>
                <p></p>
            </v-col>
        </v-row>
        <v-bottom-navigation
            grow
            dark
            app
class="d-sm-none"
        >
            <v-btn aria-label="Описание" @click="$vuetify.goTo($refs.description, options)">
                <span>Описание</span>
                <v-icon>{{ mdiBookOpenVariant }}</v-icon>
            </v-btn>
            <v-btn aria-label="Купить" @click="$vuetify.goTo($refs.price, options)">
                <span>Купить</span>
                <v-icon>{{ mdiShopping }}</v-icon>
            </v-btn>
        </v-bottom-navigation>
    </div>
</template>

<script>
    import { mdiBookOpenVariant, mdiShopping } from '@mdi/js'
    import * as easings from 'vuetify/es5/services/goto/easing-patterns'
    export default {
        data: () => ({
            mdiBookOpenVariant,
            mdiShopping,
            api_offer: 'https://api.bookdaddy.ru/offer/',
            duration: 300,
            offset: 0,
            easing: 'easeInOutCubic',
        }),
        validate({params}) {
            return /^\d+$/.test(params.id)
        },
        async fetch({params, store, error}) {
            try {
                if (typeof store.getters['visitedProducts/getProductByID'](params.id) === 'undefined') {
                    await store.dispatch('visitedProducts/fetchProductByID', params.id)
                }
            } catch (e) {
                error(e)
            }
        },
        mounted() {
            if (process.browser) {
                window.localStorage.setItem('lastVisitedID', `${this.$route.params.id}`)
            }
        },
        computed: {
            product() {
                return this.$store.getters['visitedProducts/getProductByID'](this.$route.params.id)
            },
            options () {
                return {
                    duration: this.duration,
                    offset: this.offset,
                    easing: this.easing,
                }
            },
        },
        head() {
            return {
                title: this.product.name + ' - ' + this.product.author,
                meta: [
                    { hid: 'description', name: 'description', content: 'Купить книгу ' + this.product.name + ' - ' + this.product.author + ' по выгодной цене' }
                ],
                link: [
                    {rel: 'canonical', href: 'https://bookdaddy.ru/book/' + this.product.id }
                ]
            }
        }
    }
</script>

<style scoped>
    h1 {
        font-size: 1.2rem;
        line-height: normal;
        font-weight: bolder;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1rem;
        line-height: normal;
        margin-bottom: 0.5rem;
    }

    .header {
        font-size: 1.2rem;
        font-weight: bolder;
    }
</style>
