<template>
    <v-container fluid>
        <client-only>
        <v-overlay :value="overlay">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <span id="error"></span>
        <v-text-field
            ref="search_field"
            clearable
            :append-outer-icon="mdiMagnify"
            @click:append-outer="changeType"
            :rules="rules"
                      v-model="search"
                      v-on:keyup.enter="changeType"
                      placeholder="Введите название..."
        ></v-text-field>
        <v-simple-table :hidden="tableHidden">
            <template v-slot:default>
                <tbody>
                <tr v-for="item in list" :key="item.id" @dblclick="gotoProduct(item.id)">
                    <!--<td class="d-none d-sm-table-cell">{{ item.id }}</td>-->
                    <td class="text-left"><b>{{ item.name }}</b><br>{{ item.author }}</td>
                    <td class="d-none d-sm-table-cell">{{ (item.year != 0) ? item.year : "" }}</td>
                    <td>
                        <v-btn aria-label="Подробнее" small color="primary" @click="gotoProduct(item.id)">Подробнее</v-btn>
                    </td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>
        <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
            <div slot="no-more"></div>
            <div slot="no-results" v-html="noResult"></div>
            <div slot="error" slot-scope="{ trigger }">
                Что-то пошло не так, нажмите <a href="javascript:;" @click="trigger">здесь</a>, чтобы повторить
            </div>
        </infinite-loading>
        </client-only>
    </v-container>
</template>

<script>
    import { mdiMagnify } from '@mdi/js'
    import InfiniteLoading from 'vue-infinite-loading'
    const api = 'https://api.bookdaddy.ru/iproduct'
    export default {
        components: {
            InfiniteLoading
        },
        props: [
            'query'
        ],
        data: function() {
            return {
                mdiMagnify,
                tableHidden: true,
                noResult: '',
                start: true,
                overlay: true,
                search: '',
                page: 1,
                last_page: 1000000,
                list: [],
                infiniteId: +new Date(),
                rules: [
                    value => !!value || 'Введите слово для поиска',
                    value => (value || '').length >= 3 || 'Минимально 3 символа'
                ]
            }
        },
        mounted() {
            let promise = new Promise(resolve => {
                setTimeout(() => {
                    this.page = this.$store.getters['foundProducts/page']
                    this.last_page = this.$store.getters['foundProducts/last_page']
                    this.list = this.$store.getters['foundProducts/products']
                    if (this.query) {
                        this.search = this.query
                        this.changeType()
                    } else {
                        this.search = this.$store.getters['foundProducts/search']
                    }
                    if (this.list.length > 0) { this.tableHidden = false }
                    resolve();
                }, 0);
            })
            promise.then(
                result => {
                    this.overlay = false
                }
            )
        },
        methods: {
            gotoProduct(id) {
                this.$router.push(`/book/${id}`)
            },
            infiniteHandler($state) {
                if (this.search !== '') {
                    this.tableHidden = false
                    if (this.start) {
                        this.start = false
                        $state.loaded()
                    } else {
                        if (this.page <= this.last_page) {
                            this.$axios.get(api, {
                                params: {
                                    page: this.page,
                                    search: this.search
                                }
                            }).then(({ data }) => {
                                if (data.data.length) {
                                    this.page += 1
                                    this.$store.dispatch('foundProducts/setSearch', this.search)
                                    this.$store.dispatch('foundProducts/setPage', this.page)
                                    this.$store.dispatch('foundProducts/setLastPage', data.last_page)
                                    this.$store.dispatch('foundProducts/setProducts', data.data)
                                    this.list.push(...data.data)
                                    $state.loaded()
                                    if (data.current_page === data.last_page) {
                                        $state.complete()
                                    }
                                } else {
                                    $state.complete()
                                }
                            }).catch(e => {
                                $state.error()
                            })
                        } else {
                            $state.complete()
                        }
                    }
                } else {
                    this.start = false
                    $state.complete()
                }
            },
            changeType() {
                this.noResult = 'Записи не найдены'
                this.page = 1
                this.last_page = 1000000
                this.$store.dispatch('foundProducts/setSearch', this.search)
                this.$store.dispatch('foundProducts/setPage', this.page)
                this.$store.dispatch('foundProducts/setLastPage', 1000000)
                this.$store.dispatch('foundProducts/resetProducts')
                this.$refs.search_field.blur()
                this.list = []
                this.infiniteId += 1
            },
        }
    }
</script>
