<template>
        <v-card
            dark
            @click="gotoProduct(id)"
        >
            <div class="d-flex flex-no-wrap justify-space-between ma-0">
                <div>
                    <v-card-title style="font-size: 0.9rem; line-height: 150%" v-text="name"></v-card-title>
                    <v-card-subtitle style="font-size: 0.8rem; line-height: normal" v-text="author"></v-card-subtitle>
                </div>
                <v-avatar
                    class="ma-2"
                    size="120"
                    tile
                >
                    <v-img :src="image"></v-img>
                </v-avatar>
            </div>
        </v-card>
</template>

<script>
    export default {
        name: 'ProductCard',
        props: [
            'id',
            'image',
            'name',
            'author'
        ],
        data: () => ({
            loading: false,
        }),
        methods: {
            gotoProduct(id) {
                this.$router.push(`/book/${id}`)
            },
        }
    }
</script>

<style scoped>
title {
    font-size: 0.8rem;
}
</style>
