<template>
    <InfiniteComponent :query="search"/>
</template>

<script>
    import InfiniteComponent from '~/components/InfiniteComponent'
    export default {
        search: 'search',
        components: { InfiniteComponent },
        data() {
            return {
                text: '',
                search: '',
            }
        },
        mounted() {
            this.search = this.$route.params.search
        },
        head() {
            return {
                title: 'Поиск книг - Bookdaddy',
                link: [
                    {rel: 'canonical', href: 'https://bookdaddy.ru/search'}
                ]
            }
        }
    }
</script>
