<template>
    <v-app dark>
        <v-navigation-drawer
            v-model="drawer"
            :mini-variant="miniVariant"
            :clipped="clipped"
            app
        >
            <v-divider></v-divider>
            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    :to="item.to"
                    router
                    exact
                >
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title"/>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
            :clipped-left="clipped"
            dark
            fixed
            app
        >
            <v-app-bar-nav-icon aria-label="Bookdaddy" @click.stop="drawer = !drawer">
                <slot><v-icon>{{ mdiMenu }}</v-icon></slot>
            </v-app-bar-nav-icon>
            <v-toolbar-title v-text="title" @click="goTo('/')" style="cursor:pointer;"/>
            <v-spacer/>
            <v-btn aria-label="История просмотров" @click="goTo('/history')" icon>
                <v-icon>{{ mdiHistory }}</v-icon>
            </v-btn>
            <v-btn aria-label="Поиск" @click="goTo('/search')" icon>
                <v-icon>{{ mdiMagnify }}</v-icon>
            </v-btn>
        </v-app-bar>
        <v-content>
            <v-container>
                <nuxt />
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import { mdiApps, mdiFeatureSearchOutline, mdiHistory, mdiMagnify, mdiMenu } from '@mdi/js'
    export default {
        data() {
            return {
                mdiHistory,
                mdiMagnify,
                mdiMenu,
                clipped: true,
                drawer: false,
                miniVariant: false,
                items: [
                    {
                        icon: mdiApps,
                        title: 'Главная',
                        to: '/'
                    },
                    {
                        icon: mdiFeatureSearchOutline,
                        title: 'Поиск',
                        to: '/search'
                    },
                    {
                        icon: mdiHistory,
                        title: 'История просмотров',
                        to: '/history'
                    },
                    /*{
                        icon: 'mdi-heart-multiple-outline',
                        title: 'Избранное',
                        to: '/favorite'
                    }*/
                ],
                title: 'Bookdaddy'
            }
        },
        methods: {
            goTo(page) {
                this.$router.push(page)
            }
        }
    }
</script>
