<template>
    <div>
    <v-container fluid>
        <v-row dense>
            <v-col v-for="product in products" cols="12" sm="6" :key="products.id">
                <ProductCard
                      :id="product.id"
                      :image="product.image"
                      :name="product.name"
                      :author="product.author"
                />
            </v-col>
        </v-row>
    </v-container>
<!--    <v-layout column justify-center align-center>
        <v-flex xs12 sm8 md6>
            <div class="text-center">
                <Card v-for="product in products"
                      :key="products.id"
                      :id="product.id"
                      :image="product.image"
                      :name="product.name"
                      :author="product.author"
                />

                &lt;!&ndash;<ul>
                    <li v-for="product in products">
                        {{ product.name }}
                    </li>
                </ul>&ndash;&gt;
            </div>
        </v-flex>
    </v-layout>-->
    </div>
</template>

<script>
    import ProductCard from '~/components/ProductCard'
    export default {
        components: {
            ProductCard
        },
        data() {
            return {
                products: []
            }
        },
        mounted() {
            if (process.browser) {
                let lastVisitedID = window.localStorage.getItem('lastVisitedID')
                if (!!lastVisitedID && this.$store.getters['visitedProducts/products'].length === 0) {
                    this.$store.dispatch('visitedProducts/fetchProductByID', lastVisitedID)
                }
            }

            this.products = this.$store.getters['visitedProducts/products']
        },
        methods: {
            //
        },
        head() {
            return {
                title: 'История просмотров - Bookdaddy',
                link: [
                    {rel: 'canonical', href: 'https://bookdaddy.ru/history'}
                ]
            }
        }
    }
</script>
