<template>
    <div>
        <v-overlay :value="overlay">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <v-layout
            column
            justify-center
            align-center
            v-show="show"
        >
            <v-col cols="12" md="8">
                <v-row><h1>Найти книгу в интернет-магазинах</h1></v-row>
                <v-row>
                    <v-text-field
                        v-model="search"
                        label="Поиск"
                        placeholder="Введите название книги или имя автора"
                        outlined
                        clearable
                        :append-outer-icon="mdiMagnify"
                        @click:append-outer="setSearch"
                        v-on:keyup.enter="setSearch"
                    ></v-text-field>
                </v-row>
            </v-col>
        </v-layout>
        <v-layout
            column
            justify-center
            align-center
            v-show="show"
        >
            <v-col cols="12">
                <v-row>
                    <div class="font-weight-black">Бестселлеры</div>
                </v-row>
                <v-row>
                    <v-slide-group
                        v-model="model"
                        class="pa-0"
                        mobile-break-point="768"
                        :next-icon = "mdiArrowRight"
                        :prev-icon = "mdiArrowLeft"
                    >
                        <v-slide-item
                            v-for="product in popular"
                            :key="product.id"
                        >
                            <v-card
                                class="ma-1"
                                width="180"
                                @click="gotoProduct(product.id)"
                            >
                                <v-img
                                    class="white--text align-end"
                                    height="240"
                                    :src="product.image"
                                >
                                </v-img>
                                <!--<v-card-actions>
                                    <v-btn dark block small color="warning" @click="gotoProduct(product.id)">Подробнее
                                    </v-btn>
                                </v-card-actions>-->
                                <v-card-title style="font-size: 0.8rem; line-height: 90%" class="pb-6">
                                    {{product.name}}
                                </v-card-title>
                                <v-card-subtitle style="font-size: 0.8rem; line-height: 90%">{{product.author}}
                                </v-card-subtitle>
                            </v-card>
                        </v-slide-item>
                    </v-slide-group>

                </v-row>
            </v-col>
            <v-col cols="12">
                <v-row>
                    <div class="font-weight-black">Новинки</div>
                </v-row>
                <v-row>
                    <v-slide-group
                        v-model="model"
                        class="pa-0"
                        mobile-break-point="768"
                        :next-icon = "mdiArrowRight"
                        :prev-icon = "mdiArrowLeft"
                    >
                        <v-slide-item
                            v-for="product in latest"
                            :key="product.id"
                        >
                            <v-card
                                class="ma-1"
                                width="180"
                                @click="gotoProduct(product.id)"
                            >
                                <v-img
                                    class="white--text align-end"
                                    height="240"
                                    :src="product.image"
                                >
                                </v-img>
                                <v-card-title style="font-size: 0.8rem; line-height: 90%" class="pb-6">
                                    {{product.name}}
                                </v-card-title>
                                <v-card-subtitle style="font-size: 0.8rem; line-height: 90%">{{product.author}}
                                </v-card-subtitle>
                            </v-card>
                        </v-slide-item>
                    </v-slide-group>
                </v-row>
            </v-col>
        </v-layout>
    </div>
</template>

<script>
    import { mdiMagnify, mdiArrowLeft, mdiArrowRight  } from '@mdi/js'
    export default {
        data: () => ({
            mdiMagnify,
            mdiArrowLeft,
            mdiArrowRight,
            search: '',
            model: null,
            popular: [],
            latest: [],
            overlay: true,
            show: false,
        }),
        methods: {
            setSearch() {
                this.$router.push('/search/' + this.search)
            },
            gotoProduct(id) {
                this.$router.push(`/book/${id}`)
            },
        },
        mounted() {
            this.popular = this.$store.getters['popular']
            this.latest = this.$store.getters['latest']
            this.overlay = false
            this.show = true
        },
        head() {
            return {
                title: 'Bookdaddy - сервис поиска книг по выгодным ценам',
                link: [
                    {rel: 'canonical', href: 'https://bookdaddy.ru/'}
                ]
            }
        }
    }
</script>

<style scoped>
    h1 {
        font-size: 1.2rem;
        line-height: normal;
        font-weight: bolder;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1rem;
        line-height: normal;
        margin-bottom: 0.5rem;
    }
</style>
